# 🔐 Sensitive files
*.pem
.env
.env.*
env.list
*.env.list
config.env

# Ignore generated ECS task definition
fargate_deployment/final-task-def.json

fargate_deployment/templates/final-task-def.json
fargate_deployment/task-def.json

# 📦 Python cache
__pycache__/
*.py[cod]

# 🧼 macOS system clutter
.DS_Store

# Ignore temporary deployment artifacts
*.log

#Ignore IAM policy JSONs
fargate_deployment/policies/*.json

