INPUT_S3=s3://medical-note-llm/Input/may_01_14.csv
OUTPUT_S3=s3://medical-note-llm/Output/output_assessment.csv
EMAIL_FROM=timfwater@gmail.com
EMAIL_TO=timfwater@gmail.com
THRESHOLD=0.94
START_DATE=2024-05-01
END_DATE=2024-05-07
PHYSICIAN_ID_LIST=1
AWS_REGION=us-east-1
AUDIT_BUCKET=medical-note-llm
AUDIT_PREFIX=audit_logs
